.deps
INSTALL
**/Makefile
**/Makefile.in
aclocal.m4
autom4te.cache
checks/*.log
checks/*.trs
checks/papertest-*.bin
checks/papertest-*.txt
checks/regen-*.pgp
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gl/*
install-sh
missing
paperkey
paperkey.spec
stamp-h1
test-driver
